<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to this simple login webapp</h1>
    <p style="text-align: center;">
        simple login is Node, Mongo and Express app that demonstrate simple login/signup functionalities
        <a href="./login">check it out!</a>
    </p>
</body>
</html>